.mainContainer {

  width: 100%;
  padding-left: 250px;
  padding-right: 250px;

}

.resultContainer {
    width: 100%;
}

.hideElement {
    display: none;
}

.tagForm{

    display: flex;
    justify-content: space-between;

}

.searchLoader {

    display: flex;
    justify-content: center;

}

.w-7{
    width: 700px;
}

.w-2{
    width: 200px;
}

.titleForm {

  display: flex;
  justify-content: center;
  margin-top: 50px;
  align-items: center;

}

.searchForm {

    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.resultForm {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.infoForm {

  display: flex;
  justify-content: space-around;
  flex-direction: row;

}
